<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googlePlusClientId</key>
	<string>635113688509-t3au2q2t28un1g1mll8ukf6gip02miki.apps.googleusercontent.com</string>
</dict>
</plist>
