<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googlePlusClientId</key>
	<string>15585997802-g0lufvfd44htptps68fh0c6hevt75psc.apps.googleusercontent.com</string>
</dict>
</plist>
